@font-face {
    font-family: 'RelationshipOfMelodrame';
    src: url('../POLICE/relationship_of_melodrame/relationshipofmelodrame-regul.woff') format('woff'),
         url('../POLICE/relationship_of_melodrame/relationshipofmelodrame-regul.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aesthetic';
    src: url('../POLICE/aesthetic_5-2/Aesthetic-Regular.woff') format('woff'),
         url('../POLICE/aesthetic_5-2/Aesthetic-Regular.woff2') format('woff2');
    font-weight: normal; 
    font-style: normal;
}

.off-screen-menu {
    font-family: 'Aesthetic', sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
    background-color:#3E4536;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: -700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    transition: .3s ease;
    z-index: 100;
    line-height: 2.4;
    padding: 0 15px 0 45px;
}

.off-screen-menu ul {
    list-style: none; 
    padding-left: 45px;
    margin: 0; 
}

.off-screen-menu ul li a {
    color: #ffffff; 
    text-decoration: none; 
    display: block; 
    cursor: pointer; 
    position: relative;
    padding-bottom: 15px; 
}

.off-screen-menu ul li a:visited,
.off-screen-menu ul li a:hover,
.off-screen-menu ul li a:active {
    color: #ffffff;
    text-decoration: none;
}

.off-screen-menu ul li a.active-menu-item::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 0;  
    width: 150px; 
    height: 3px; 
    background-color: #ffffff; 
    transition: width 0.3s ease;
}

.off-screen-menu.active {
    right: 0;
}

.desktop-nav {
    display: none;
}

.fixed-footer-info{
    display: none;
}

.nav {
    padding: 1rem;
    display: flex;
    background-color: #ffffff;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    background-color: white;
    border-radius: 5px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.ham-menu span {
    height: 5px;
    width: 35px; 
    background-color: #36453b;
    border-radius: 25px;
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    transform: translate(-50%, calc(-50% - 10px));
}

.ham-menu span:nth-child(3) {
    transform: translate(-50%, calc(-50% + 10px)); 
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg); 
}

.ham-menu.active span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-45deg); 
}

.title-projets {
    font-family: 'RelationshipOfMelodrame', sans-serif;
    font-size: 3rem;
    margin-top: -10px;
    padding-left: 20px;
    color: #36453b;
}

hr {
    border: none;
    border-top: 0.5px solid #36453b; 
    width: 100%;
}

.title-projet {
    font-family: "articulat-cf", sans-serif; 
    font-weight: 700;
    font-size: 2rem;
    color: #36453b;
}

.tag {
    font-family: "articulat-cf", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 4px 8px; 
    border-radius: 16px; 
    color: #36453b; 
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); 
    backdrop-filter: blur(18px); 
    -webkit-backdrop-filter: blur(18px);
}

.break-line {
    flex-basis: 100%; 
    height: 0; 
    width: 0; 
    margin: 0; 
    padding: 0; 
}

.tags-container {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    flex-wrap: wrap; 
    row-gap: 10px;
}

.presentation {
    padding: 15px;
    margin-top: 20px;
    font-family: "articulat-cf", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.project-gallery {
    padding: 15px;
}

.gallery-image {
    width: 100%;
    height: auto;     
    object-fit: contain; 
    margin-bottom: 20px;
    display: block; 
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    grid-column: 1 / -1; 
    margin-bottom: 30px;
    border-radius: 8px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-projet {
    font-family: "RelationshipOfMelodrame", sans-serif;
    font-size: 2rem;
    border: 1px solid #36453b;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 2rem;
}

.cta-container a {
    text-decoration: none;
    color: #36453b;
}

.back-link {
    font-family: "articulat-cf", sans-serif;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #36453b; 
    font-size: 0.85rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

.back-link .arrow {
    margin-right: 10px;
    font-size: 1.2rem;
}

.back-link:hover {
    transform: translateX(-3px);
    text-decoration: underline;
}

@media (min-width: 601px) {
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0 35px 0 40px; 
    }

    .wrapper, .ham-menu, .off-screen-menu, .nav {
        display: none; 
    }
    
    .nav-header {
        position: fixed;
        top: 0; 
        left: 0; 
        width: 100%; 
        z-index: 1000;
        background-color: #ffffff;
        margin: 0; 
        padding: 37px 0; 
        display: flex;
        justify-content: center; 
        align-items: center;
        backdrop-filter: blur(15px);
        background: rgba(255, 255, 255, 0.1);
        transition: color 0.3s ease, background 0.3s ease;
    }

    .desktop-nav {
        display: flex;
        align-items: center;
        font-family: "articulat-cf", sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
        margin-left: auto;
        
    }

    .desktop-nav ul {
        display: flex;
        list-style: none;
        padding-right: 15px;
        margin: 0;
        align-items: center; 
        gap: 20px;
    }

    .desktop-nav ul li:nth-child(-n+3) a { 
        color: #000000;
    }

    .desktop-nav li a {
        text-decoration: none;
        transition: color 0.3s ease;
        position: relative;
    }
    
    .desktop-nav li a.active-menu-item::after {
        content: '';
        position: absolute;
        bottom: -5px; 
        left: 0;  
        width: 100%; 
        height: 1px;
        background-color: #36453b; 
        transition: width 0.3s ease;
    }

    .contact-button-desktop {
        color: #ffffff; 
        background-color: #000000; 
        padding: 15px; 
        border-radius: 14px; 
        font-weight: 700;
        margin-left: 10px; 
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    }

    footer {
        display: block;
    }
    
    .fixed-footer-info {
        position: fixed;
        bottom: 0; 
        left: 0; 
        width: 100%; 
        z-index: 1000; 
        background-color: #ffffff; 
        color: #000000; 
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 19px 50px;
    }

    .fixed-footer-info .status {
        font-family: "articulat-cf", sans-serif;
        font-weight: 700; 
        font-size: 1rem;
        margin: 0;
    }

    .fixed-footer-info .details {
        font-family: "articulat-cf", sans-serif;
        font-weight: 500;
        font-size: 0.9rem;
        margin: 5px 0 0 0;
        opacity: 0.8;
    }

    .footer-right {
        text-align: right;
    }

    .page-projet {
        padding-top: 110px; 
    }

    .project-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        max-width: 1400px; 
        margin: 30px auto 140px auto;
    }

    .gallery-image {
        width: 100%; 
        height: auto; 
        margin: 0;
        display: block;
    }

    .video-container {
        grid-column: 1 / -1;
        width: 70%;         
        margin-left: auto;   
        margin-right: auto;
        padding-bottom: 39.37%; 
        margin-bottom: 50px;
    }
}