@font-face {
    font-family: 'relationship of me\'lodrame';
    src: url('relationshipofmelodrame-regul.woff2') format('woff2'),
        url('relationshipofmelodrame-regul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

